<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><%= @page_title || DEFAULT_PAGE_TITLE %></title>
	<%= stylesheet_link_tag 'style' %>
	<%= javascript_include_tag :defaults %>
	<!-- CuFon: Enables smooth pretty custom font rendering. 100% SEO friendly. To disable, remove this section -->
	<% javascript_include_tag 'cufon-yui' %>
	<% javascript_include_tag 'droid_sans_400-droid_sans_700.font' %>
	<% javascript_include_tag 'cuf_run' %>
	<% javascript_include_tag 'jquery-1.3.2.min' %>
	<%= javascript_include_tag 'radius' %>
	<!-- CuFon ends -->
	<%= csrf_meta_tag %>

	<meta property="title" content="<%= @page_title || DEFAULT_PAGE_TITLE %>"/>
  <meta property="description" content="<%= @page_description || DEFAULT_PAGE_DESCRIPTION %>"/>
	<%= content_for :page_specific_head %>
</head>
<body>
<div class="main">

  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <ul>
          <!-- <li class="active"><a href="index.html">Home</a></li> -->
					<li><%= link_to 'Home', '/' %></li>
					<% if user_signed_in? %>
							<li><%= link_to t('Profile'), profile_path(current_user) %></li>
							<% if current_user.wgs.count >= 1 %>
							<li><%= link_to t('Show WG'), wg_path(current_user.wgs.first) %></li>
							<% end %>
							<li><%= link_to t("Sign out"), destroy_user_session_path %></li>
					<% else %>
							<li><%= link_to t("Sign up"), new_user_registration_path %></li>
							<li><%= link_to t("Sign in"), new_user_session_path %></li>
					<% end %>
        </ul>
      </div>
      <div class="logo">
        <h1><a href="/">meine<span>super</span>WG <small> unsere Kühlschranktür im Internet</small></a></h1>
      </div>
      <div class="clr"></div>
      <img src="/images/hbg_img.jpg" width="970" height="269" alt="image" class="hbg_img" />
      <div class="clr"></div>
    </div>
  </div>

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
				<%= raw notice_html %>
  			<%= raw alert_html %>	
				<%= yield %>
        <div class="article">
					
<!--
          <h2><span>coming</span> soon...</h2>
          <p class="infopost">Posted <span class="date">on 08 feb 2011</span> by <a href="#">Webmaster</a> &nbsp;|&nbsp; Filed under <a href="#">coming soon</a>, <a href="#">internet</a> | <a href="#" class="com">Comments <span>0</span></a></p>
          <img src="images/img1.jpg" width="209" height="238" alt="image"  class="fl" />
          <p>Wir arbeiten daran, diese Seite bald an den Start zu bringen.<br /></p>
          <p class="spec"><a href="#" class="rm">Read more</a></p>
-->
        </div>
<!--
        <p class="pages"><small>Page 1 of 2 &nbsp;&nbsp;&nbsp;</small> <span>1</span> <a href="#">2</a> <a href="#">&raquo;</a></p>
-->
      </div>
      <div class="sidebar">
        <div class="searchform">
          <form id="formsearch" name="formsearch" method="post" action="/pages/search">
            <span><input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" value="Suchen:" type="text" /></span>
            <input name="button_search" src="/images/search_btn.gif" class="button_search" type="image" />
          </form>
        </div>
        <div class="gadget">
          <h2 class="star"><span>WG Navi</span> Menu</h2><div class="clr"></div>
					<% sidebar %>
					<%=raw yield(:sidebar) || "" %>
				</div>
        
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Image Gallery</span></h2>
        <a href="#"><img src="/images/pix1.jpg" width="58" height="58" alt="pix" /></a>
        <a href="#"><img src="/images/pix2.jpg" width="58" height="58" alt="pix" /></a>
        <a href="#"><img src="/images/pix3.jpg" width="58" height="58" alt="pix" /></a>
        <a href="#"><img src="/images/pix4.jpg" width="58" height="58" alt="pix" /></a>
        <a href="#"><img src="/images/pix5.jpg" width="58" height="58" alt="pix" /></a>
        <a href="#"><img src="/images/pix6.jpg" width="58" height="58" alt="pix" /></a>
      </div>
      <div class="col c2">
        <h2><span>Was ist das hier?</span></h2>
        <p>Diese Seite soll eine kleine Plattform für unsere und vielleicht mal noch andere WGs sein, um im Internet Informationen austauschen zu können.</p>
				<p>Warum "unsere Kühlschranktür im Internet"? <br />Ganz einfach! <br />Weil wir sonst oft Zettel mit Magneten an den Kühlschrank hängen, wenn wir unseren Mitbewohnern etwas sagen möchten. Und hier geht das eben auch - nur ist hier mehr Platz! ;)</p>
      </div>
      <div class="col c3">
        <h2><span>Contact</span></h2>
        <p>Sorry, wir möchten im Moment keine Infos zum Kontakt rausgeben.</p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">&copy; Copyright <a href="#">meine-super-wg.de</a>.</p>
      <div class="clr"></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js">
</script>

<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
</body>
</html>
